<launch>
	<node name="complete_action" pkg="welcome_robot" type="action_node" />
	<node name="datmo_detection" pkg="welcome_robot" type="datmo_node" />
	<node name="complete_decision" pkg="welcome_robot" type="decision_node" />
	<node name="localization_detection" pkg="welcome_robot" type="localization_node" />
	<node name="obstacle_detection" pkg="welcome_robot" type="obstacle_detection_node" />
	<node name="movement_detection" pkg="welcome_robot" type="robot_moving_node" />
	<node name="rotation_action" pkg="welcome_robot" type="rotation_node" />
</launch>

